.bowser-animate {
}

.enemy-bowser {
    width: 20%;
    z-index: 500;
    position: relative;
    left: 80%;
    visibility: visible;
    animation: bowser 3s infinite;
}

@keyframes bowser {
    0%,100% {
        left: 75%;
        bottom: 0%;
    }

    50% {
        left: 70%;
        bottom: 2%;
    }

    80% {
        bottom: -5%;
    }
}

@keyframes bowser-retreat {
    0%,100% {
        left: 75%;
        bottom: 0%;
    }

    50% {
        left: 150%;
        bottom: 10%;
    }

}

@keyframes bowser-attack {
    0%,100% {
        left: 75%;
        bottom: 10%;
    }

    50% {
        left: -100%;
        bottom: -18%;
        transform: scale(1.1);
    }

    60% {
        left: 20%;
        bottom: -10%
    }

}

.enemy-bowser-win {
    width: 45%;
    z-index: 501;
    position: relative;
    left: 40%;
    visibility: hidden;
}

.bowser-visible {
    visibility: visible;
}

@keyframes bowser-win {
    0%,100% {
        left: 40%;
        bottom: 0%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    50% {
        left: -15%;
        bottom: -30%;
    }

    90% {
        left: -15%;
        bottom: 0%;
    }
}