.enemy-bowser {
    width: 20%;
    z-index: 500;
    position: relative;
    left: 80%;
    animation: bowser 4s infinite;
    visibility: visible;
}

@keyframes bowser {
    0%,100% {
        left: 75%;
        bottom: 0%;
    }

    50% {
        left: 70%;
        bottom: 2%;
    }

    80% {
        bottom: -5%;
    }
}

.enemy-bowser-win {
    width: 45%;
    z-index: 501;
    position: relative;
    left: 40%;
    visibility: hidden;
}

.bowser-visible {
    visibility: visible;
}

@keyframes bowser-win {
    0%,100% {
        left: 40%;
        bottom: 0%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    50% {
        left: -15%;
        bottom: -30%;
    }

    90% {
        left: -15%;
        bottom: 0%;
    }
}